@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);

  --font-space-grotesk: var(--font-space-grotesk);
  --font-playfair: var(--font-playfair-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #2f2f2f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
